<!DOCTYPE html>
<html>

  <head>
    <link data-require="bootstrap@*" data-semver="4.1.3" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script data-require="bootstrap@*" data-semver="4.1.3" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body>
	Basic Operations <br/>
    <a href="/add">(add)</a>
	<a href="/subtract">(subtract)</a>
	<a href="/multiply">(multply)</a>
	<a href="/divide">(divide)</a>
	<a href="/exponent">(exponent)</a><br/>
	Unsorted Things <br/>
	<a href="/multiplythree">(m3)</a>
	<a href="/special">(specialrighttriangles)</a>
	<a href="/linearequation">(linearequation)</a>
	<a href="/exponentssub">(subtract exponents)</a>
	<a href="/exponentsadd">(add exponents)</a>
	<a href="/addfractions">(fractions)</a>
	<a href="/pythago">(pythag)</a>
	<a href="/syseq">(syseq)</a>
	<a href="/onevariable">(one variable)</a>
	<a href="/algebra">(algebra)</a><br/>
	email: {{e}}
	{% if e == "not logged in" %}
	<a href="/login">(login)</a>
	<a href="/signup">(signup)</a>
	{% else %}
	<a href="/logout">(logout)</a>
	<a href="/coins">(coins)</a>
	{% endif %}
  </body>

</html>
