<!DOCTYPE html>
<html>

  <head>
    <link data-require="bootstrap@*" data-semver="4.1.3" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script data-require="bootstrap@*" data-semver="4.1.3" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body>
	Logan code <br/>
    <a href="/add">(add)</a>
	<a href="/subtract">(subtract)</a>
	<a href="/multiply">(multply)</a>
	<a href="/divide">(divide)</a>
	<a href="/exponent">(exponent)</a><br/>
	Class Code <br/>
	<a href="/multiplytwo">(m2)</a>
	<a href="/addfractions">(fractions)</a>
	<a href="/exponents">(e2)</a>
	<a href="/pythago">(pythag)</a>
	<a href="/syseq">(syseq)</a>

  </body>

</html>
