<!DOCTYPE html>
<html>
  <head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1 align='center'>Multiply</h1>
    <br/>
    <div align='center' class='background'>
        <div class='row row-centered'>
            <div class='col-xs-12 col-sm-12 col-md-3 col-lg-3'></div>
            <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
                <b>BACKGROUND:</b> Multiply numbers.
            </div>
            <div class='col-xs-12 col-sm-12 col-md-3 col-lg-3'></div>
        </div>
    </div>
    <br/>
	<div  align='center' class='problem'>
        <div class='row row-centered'>
            <div class='col-xs-12 col-sm-12 col-md-3 col-lg-3'></div>
            <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
                <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Multiplication_Sign.svg/1200px-Multiplication_Sign.svg.png' class='img-responsive' style='width:30%'  />
            </div>
            <div class='col-xs-12 col-sm-12 col-md-3 col-lg-3'></div>
        </div>
	    <hr/>
	    <h3>{{ equation }} </h3>
	    <form method='post'>
	    <input type='hidden' name='a' value={{a}} />
	    <input type='hidden' name='b' value={{b}} />
		<input type='hidden' name='c' value={{c}} />
	    <input type='hidden' name='calcanswer' value={{calcanswer}} />
        <h3>Multiply: &nbsp;&nbsp; <input type=text name=a size=3 value={{a}}> * <input type=text name=b size=3 value={{b}}> * <input type=text name=c size=3 value={{c}}> = <input type='text' name='useranswer' value='{{useranswer}}' size='2' /></h3>
        <input type='submit' value='Answer' />
        </form>
	</div>

	<div  align='center' class='solution'>
	    {% if correct==1 %}
	    <h3>Congratulations!  {{calcanswer}} is correct! </h3>
	    {% endif %}
	    {% if correct==-1 %}
	    <h3>Sorry,  {{calcanswer}} is the correct answer </h3>
	    {% endif %}
	</div>

	<div align='center' class='footer'>
	    <hr/>
	    <p> | Created by:  Your Name  | <a href='/'>Home</a>  | <a href='/multiply'>More Practice</a> |</p>
	</div>
  </body>
</html>