<!DOCTYPE html>
<html>
  <head>   
    <link data-require="bootstrap@4.1.3" data-semver="4.1.3" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script data-require="bootstrap@4.1.3" data-semver="4.1.3" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>
  <body>
    <h1 align='center'>Pythagorean Theorem Practice</h1>
    <br/>
    <div align='center' class='background'>
        <div class='row row-centered'>
            </div>
            <div class='col-xs-12 col-sm-12 col-md-3 col-lg-3'></div>
        </div>
    </div>
    <br/>
	<div  align='center' class='problem'>
        <div class='row row-centered'>
            <div class='col-xs-12 col-sm-12 col-md-3 col-lg-3'></div>
            <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
                <img src='/static/{{ img }}.png' class='img-responsive' width=250/>
            </div>
            <div class='col-xs-12 col-sm-12 col-md-3 col-lg-3'></div>
        </div>
	    <hr/>
	    <h3>{{ equation }} </h3>
	    <form method='post'>
	    <input type='hidden' name='a' value={{a}} />
	    <input type='hidden' name='b' value={{b}} />
	    <input type='hidden' name='calcanswer' value={{calcanswer}} />
		<h3>a={{a}}</h3>
		<h3>b={{b}}</h3>
        <h3> c = <input type='text' name='useranswer' value='{{useranswer}}' size='2' /></h3>
		ABC is a right triangle</br>
		Round to the 2nd decimal place.</br>
        <input type='submit' value='Answer' />
        </form>
	</div>

	<div  align='center' class='solution'>
	    {% if correct==1 %}
	    <h3>Congratulations!  {{calcanswer}} is correct! </h3>
	    {% endif %}
	    {% if correct==-1 %}
	    <h3>Sorry,  {{calcanswer}} is the correct answer </h3>
	    {% endif %}
	</div>

	<div align='center' class='footer'>
	    <hr/>
	    <p> | Created by:  Aidan Phimmasehn  | <a href='/'>Home</a>  | <a href='/pythago'>More Practice</a> |</p>
	</div>
  </body>
</html>