<!DOCTYPE html>
<html>

  <head>
    <link data-require="bootstrap@*" data-semver="4.1.3" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script data-require="bootstrap@*" data-semver="4.1.3" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body>
	       <nav class="navbar mb-2 sticky-top navbar-expand-lg navbar-dark" style="background-color: #1b1464;"">
              <a class="navbar-brand pull-left"><img src="/static/faviconblue-01.png" height='60' width='70'></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

		<li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>

		<li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>

		{% if '@' in session['email'] %}
		<li class="nav-item ">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
		{% else %}
		<li class="nav-item ">
          <a class="nav-link" href="/signup">Sign Up</a>
        </li>
		{% endif %}


      </ul>

	  </div>
    </nav>
	<p>
	
	</p>
	<form method = "POST">
	{% if correct == 1 %} 
	<center>
	<img src='/static/{{ x }}{{ img }}.png' class='img-responsive' width=250/>
	</center>
	<div class="alert alert-success" role="alert">
  <center>
  <h4 class="alert-heading">Well done!</h4>
  <p> {{useranswer}} was the correct answer to the problem, you gain +1 cartercoin. Keep up the good work!</p>
  <hr>
  <p class="mb-0">You will be returned to the problem page automaticaly in 7 seconds.</p>
  </center>
</div> 
<meta http-equiv="Refresh" content= {{r}} />
	{% elif correct == 2 %} 
	<center>
	<img src='/static/{{ x }}{{ img }}.png' class='img-responsive' width=250/>
	</center>
		<div class="alert alert-danger" role="alert">
  <center>
  <h4 class="alert-heading"> Good Try!</h4>
  <p> {{useranswer}} is the incorrect awnswer, the correct awnser was {{calcanswer}}. Keep on working to improve, we know you can do it!</p>
  <hr>
  <p class="mb-0">You will be returned to the problem page automaticaly in 7 seconds.</p>
  </center>
</div> 
	<meta http-equiv="Refresh" content= {{r}} >
	{% else %}
	<center>
	<h1><img src='/static/{{ x }}{{ img }}.png' class='img-responsive' width=250/></h1>
	<h3><input type=radio name = useranswer value = trip>Pythagorean Triple<br/></h3>
	<h3><input type=radio name = useranswer value = thir>30-60-90 Triangle<br/></h3>
	<h3><input type=radio name = useranswer value = four>45-45-90 Triangle<br/></h3>
	<input type='hidden' name='x' value={{x}} />
	<input type='hidden' name='img' value={{img}} />
	<input type='hidden' name='calcanswer' value={{calcanswer}} />
	<input type = 'submit' class = 'btn btn-outline-success'/>
	{% endif %}
	</form>
	</center>
	<p>
	
	</p>
	<center>
	<a class="btn btn-secondary btn-sm" href="/" role="button">Return Home</a>
	</center>
  </body>

</html>
